<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <xconnect>
            <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
                <schemas hint="list:AddModelConfiguration">
                    <schema name="FaceLoginDefineModel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
                        <param desc="modeltype">FaceLogin.Foundation.XConnect.Models.FaceLoginDefineModel, FaceLogin.Foundation.XConnect</param>
                    </schema>
                </schemas>
            </runtime>
        </xconnect>

        <services>
            <register serviceType="FaceLogin.Foundation.XConnect.Services.IXConnectService, FaceLogin.Foundation.XConnect"
                      implementationType="FaceLogin.Foundation.XConnect.Services.XConnectService, FaceLogin.Foundation.XConnect"
                      lifetime="Scoped"/>
        </services>

    </sitecore>
</configuration>