<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
    <sitecore>
        <settings>
            <setting name="FaceLogin.XConnect.FaceIdentifierName" value="GoHorse" />
            <setting name="FaceLogin.Kairos_GalleryName" value="GoHorse" />
            <setting name="FaceLogin.Kairos_ApplicationID" value="d50968b5" />
            <setting name="FaceLogin.Kairos_ApplicationKey" value="2e5b58fe6af5b19ea8e4ebcac0e33649" />
            <setting name="FaceLogin.MinimumConfidence" value="0.60" />
            <setting name="FaceLogin.MinimumQuality" value="0.60" />
        </settings>

        <services>
            <register serviceType="FaceLogin.Foundation.Kairos.Services.IKairosService, FaceLogin.Foundation.Kairos"
                      implementationType="FaceLogin.Foundation.Kairos.Services.KairosService, FaceLogin.Foundation.Kairos"
                      lifetime="Scoped"/>
            <register serviceType="FaceLogin.Foundation.Kairos.Services.IImageService, FaceLogin.Foundation.Kairos"
                      implementationType="FaceLogin.Foundation.Kairos.Services.ImageService, FaceLogin.Foundation.Kairos"
                      lifetime="Scoped"/>
        </services>
    </sitecore>
</configuration>