<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.FormExtensions"
                               description="Feature FormExtensions"
                               dependencies="Foundation.*"
                               extends="Helix.Feature">
                    <predicate>

                        <include name="Forms.Fields"
                                 database="master"
                                 path="/sitecore/templates/System/Forms/Fields/Face Login" />

                        <include name="FieldTypes.AdhereFaceLogin"
                                 database="master"
                                 path="/sitecore/system/Settings/Forms/Field Types/Basic/Adhere to Face Login" />

                        <include name="FieldTypes.ContactAvatar"
                                 database="master"
                                 path="/sitecore/system/Settings/Forms/Field Types/Basic/Contact Avatar" />


                        <include name="FieldTypes.UploadContactAvatar"
                                 database="master"
                                 path="/sitecore/system/Settings/Forms/Field Types/Basic/Upload Contact Avatar" />

                        <include name="Forms.SubmitActions"
                            database="master"
                            path="/sitecore/system/Settings/Forms/Submit Actions/Face Login" />

                        <include name="Forms.MyAccount"
                            database="master"
                            path="/sitecore/Forms/My Account" />

                        <include name="PageSettings.ContactAvatar"
                            database="core"
                            path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/Contact Avatar" />

                        <include name="PageSettings.UploadContactAvatar"
                            database="core"
                            path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/Upload Contact Avatar" />

                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>